.Item {
    background-color: #282c34;
    color: white;
    border: 1px solid rgb(127, 127, 0);
    border-radius: 20;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    overflow: hidden;
}

.Item img {
    padding: 10px;
}

.Item ul {
    grid-column: center / right;
    grid-row: center / bottom;
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0px 10px 10px 10px;
}